{% extends "base.html" %}

{% block title %}
Display | Displayer
{% endblock %}

{% block depends %}
    {% load static %}
    <script src="{% static 'js/display/heartbeat.js' %}"></script>
    <script src="{% static 'js/display/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/display/style.css' %}">
    <script src="% static 'js/display/peer.min.js'"></script>
{% endblock %}

{% block navbar %} {% endblock %}

{% block content %}
<div id="carousel" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class='carousel-inner' role='listbox'>
  </div>
</div>

<div id="no-data" class="text-center">
<h1><span class="white-text">No data to display<span><br /><small>Please schedule some tasks</small></h1>
</div>
{% endblock %}