{% extends "base.html" %}

{% block title %}
    Displays | Displayer
{% endblock %}

{% block depends %}
    {% load static %}
    <script src="{% static 'js/displays/heartbeat_checker.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>Displays <small>Displays registered in the system</small></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 top-mrg-20">
            <table class="table table-hover" id="displays_list">
                <thead>
                    <th></th>
                    <th>Task</th>
                    <th>Capabilities</th>
                    <th>Active</th>
                </thead>
                <tbody>
                    {% for display in list_of_displays %}
                        <tr data-id="{{ display.id }}">
                            <td>{{ display.name }}</td>
                            <td>{{ display.location }}</td>
                            <td>{{ display.capabilities|safe }}</td>
                            <td class="active_display"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}