{% extends "base.html" %}

{% block title %}
    Scheduled | Displayer
{% endblock %}

{% block depends %}
    {% load static %}
    <script src="{% static 'js/manage/active_checker.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3>Scheduled <small>List of scheduled tasks</small></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 top-mrg-20">
        <table class="table table-hover" id="schedules_list">
            <thead>
                <th></th>
                <th>Type</th>
                <th>Displays</th>
                <th>Active</th>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr data-id="{{ schedule.id }}">
                        <td>{{ schedule.description }}</td>
                        <td>{{ schedule.task_type }}</td>
                        <td>{{ schedule.displays|safe }}</td>
                        <td class="active_display"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}