{% extends "base.html" %}

{% block title %} Schedule Task | Displayer {% endblock %}

{% block depends %}

{% load static %}
<script src="{% static 'js/jquery.fine-uploader/jquery.fine-uploader.js' %}"></script>
<link href="{% static 'js/jquery.fine-uploader/fine-uploader.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/schedule_task/style.css' %}">
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">

<!-- This is the markup for file uploader -->
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <!-- disable global progress bar for single-file uploads -->
        {% if task_type != 1 %}
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container progress">
            <div class="qq-total-progress-bar-selector qq-progress-bar progress-bar-success progress-bar-striped"></div>
        </div>
        {% endif %}
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>Drop files here to upload</span>
        </div>
        <div class="qq-upload-button-selector btn btn-success">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;&nbsp;Upload
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list top-mrg-20">
            <li>
                <div class="qq-progress-bar-container-selector progress">
                    <div class="qq-progress-bar-selector qq-progress-bar progress-bar-success progress-bar-striped"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>

<!-- This is the markup for selecting screens -->
<script type="text/template" id="screens-template">
    <select multiple id='screenselect' class='form-control'>
        {% for screen in screens %}
            <option value="{{screen.user.id}}">{{screen}}</option>
        {% endfor %}
    </select>
</script>

<script>
$(function() {

    $("#uploader").fineUploader({
        debug: true,
        request: {
            endpoint: '/upload'
        },
        {% if not is_public %}
        session : {
            endpoint : 'session/',
        },
        {% endif %}
        chunking: {
            enabled: true,
        },
        deleteFile: {
            enabled: true,
            endpoint: '/upload'
        },
        params: {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        thumbnails: {
            placeholders: {
              waitingPath: "{% static 'js/jquery.fine-uploader/placeholders/waiting-generic.png' %}",
              notAvailablePath: "{% static 'js/jquery.fine-uploader/placeholders/not_available-generic.png' %}"
            }
        },

        // task-types:
        // 1: display picture
        // 2: play video
        // 3: play sound
        // 4: display slideshow

        // don't allow multiple files to be uploaded for certain tasks
        {% if task_type == 1 or task_type == 2 %}
        multiple: false,
        {% elif task_type == 4 %}
        multiple: true,
        {% endif %}


        // task-specific options
        {% if task_type == 1 or task_type == 4 %}
        // single image and slideshow
        validation: {
            acceptFiles: 'image/gif,image/jpeg,image/png',
            allowedExtensions: ['gif', 'jpeg', 'jpg', 'png'],
            // 1MB should be enough
            sizeLimit: 2048000
        }
        {% elif task_type == 2 %}
        // video playback
        validation: {
            acceptFiles: 'video/mp4,video/ogg,video/webm',
            allowedExtensions: ['mp4', 'webm', 'ogg'],
            // 1MB should be enough
            sizeLimit: 512000000
        }
        {% endif %}
    });

    var raiseError = function(message) {
        $("#error_message").text(message);
        $("#error_alert").show(200);
        window.setTimeout(function() {
            $("#error_alert").hide(200);
        }, 2000);
    };

    $('#delete').on('click', function() {
        if (confirm("Are you sure you want to delete this task?")) {
            window.location.replace("{% url 'delete_task' task_id %}");
        }
    });

    // Submit button logic
    $('#schedule').on('click', function() {
        var files = $("#uploader").fineUploader('getUploads', 'upload successful');
        {% if task_type == 1 or task_type == 2 %}
        files = [files[files.length - 1]];
        if (files[0] && files[0].status == 'upload successful') {
        {% else %}
        if (files.length > 0) {
        {% endif %}
            var time, screens, duration;
            if ($("#timeselect").val() == "precise") {
                var start_h = parseInt($("#start-hour").val());
                var end_h = parseInt($("#end-hour").val());
                time = {
                    type : "precise",
                    start : start_h,
                    end : end_h
                };
                if (isNaN(start_h) || isNaN(end_h) || start_h>=end_h || (start_h==0 && end_h==24)) {
                    raiseError("Invalid time range selected");
                    return;
                }
            } else {
                time = {
                    type : $("#timeselect").val(),
                }

                if (time['type'] == "day") {
                    time['start'] = 0;
                    time['end'] = 24;
                } else if (time['type'] == "noon") {
                    time['start'] = 12;
                    time['end'] = 13;
                } else if (time['type'] == "breakfast") {
                    time['start'] = 8;
                    time['end'] = 10;
                } else if (time['type'] == "lunch") {
                    time['start'] = 13;
                    time['end'] = 15;
                } else if (time['type'] == "dinner") {
                    time['start'] = 18;
                    time['end'] = 21;
                }

            }

            if ($("#description").val().length == 0) {
                raiseError("Please enter a description");
                return;
            }

            if ($("#placeselect").val() == "individual") {
                screens = {
                    type : "individual",
                    value : $("#screenselect").val()
                }
                if (screens['value'] == null || screens['value'].length == 0) {
                    raiseError("Please select at least one screen");
                    return;
                }
            } else {
                screens = {
                    type : "location",
                    value : $("#placeselect").val()
                }
            }

            // submit logic

            {% if task_type == 1 %}

            duration = $("#duration").val();

            {% elif task_type == 2 %}

            duration = "max";

            {% endif %}

            var data = {
                files : files,
                description : $("#description").val(),
                dates : {
                    start : $("#datepicker-start").val(),
                    end : $("#datepicker-end").val()
                },
                options : {
                    time : time,
                    screens : screens,
                    duration : duration,
                },
                task_type : {{ task_type }},
                {% if not is_public %}
                task_id : {{ task_id }}
                {% endif %}
            };

            $.ajax({
              type: "POST",
              url: "/schedule",
              data: { json_data : JSON.stringify(data),
                csrfmiddlewaretoken : '{{ csrf_token }}'
                },
              dataType: "json",
              traditional: true,
              success: function() {
                // redirect to task info page
                window.location.replace("/manage");
              }
            });

        } else {
            raiseError("Please, upload files");
        }
    });

    $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        startDate: "today",
        todayBtn: "linked",
        autoclose: true
    });

    // programatically create hour pickers
    var hours = function(offset) {
        var post = (offset == 1) ? "am" : "pm";
        var text;
        for (var i = offset; i < offset+11; i++) {
            text += '<option value="' + i + '">' + (i - ((offset == 1) ? 0 : 12)) + post + '</option>';
        }
        return text;
    }

    var getPicker = function(id) {
        return '<select class="form-control" id=' + id + '><option value="0">12am</option>' + hours(1) + '<option value="12">12pm</option>' + hours(13) + '</select>';
    };

    var addHoursInterface = function() {
        $("#timeselect-container").append(getPicker("start-hour"));
        $("#timeselect-container").append(getPicker("end-hour"));
        $("#end-hour").append("<option value='24' selected>12am</option>");
        $("#start-hour").on("change", function() {
            var end = parseInt($("#end-hour").val()), start = parseInt($(this).val());
            if ( end <= start) {
                $("#end-hour").val(start+1);
            }
        });
        $("#end-hour").on("change", function() {
            var start = parseInt($("#start-hour").val()), end = parseInt($(this).val());
            if ( end <= start) {
                $("#start-hour").val(end-1);
            }
        })
    }

    // display hours selecting interface
    $('#timeselect').on("change", function() {
        var val = $("#timeselect option:selected").val();
        if (val == "precise") {
           addHoursInterface();
        } else {
            $("#start-hour").remove();
            $("#end-hour").remove();
        }
    });

    // screen-selecting interface
    $('#placeselect').on("change", function() {
        var val = $("#placeselect option:selected").val();
        if (val == "individual") {
            var template = $('#screens-template').html();
            $("#placeselect-container").append(template);
        } else {
            $("#screenselect").remove();
        }
    });

    // duration custom for task types
    {% if task_type == 1 %}
    $('#duration').on("keyup", function() {
        var val = $('#duration').val();
        if (val != '' && ( isNaN(val) || parseInt(val) > 60 )) {
            $('#duration').val(60);
        }
    });
    {% endif %}




    // Loads all the info into the page if modifying a task
    {% if not is_public %}
    var options = JSON.parse('{{ options|safe|lower }}');
    console.log(options);

    // set duration
    $("#duration").val(options['duration']);

    var time_ops = options['time'];

    // set time
    $('#timeselect').val(time_ops['type']);

    if (time_ops['type'] == 'precise') {
        addHoursInterface();
        $("#start-hour").val(time_ops['start']);
        $("#end-hour").val(time_ops['end']);
    }

    var screen_ops = options['screens'];

    // set location
    $('#placeselect').val(screen_ops['type']);

    if (screen_ops['type'] == 'individual') {
        var template = $('#screens-template').html();
        $("#placeselect-container").append(template);
        $("#screenselect").val(screen_ops['value'])
    } else if (screen_ops['type'] == 'location') {
        $("#placeselect option:contains("+screen_ops['value']+")").attr('selected','selected');
    }

    {% endif %}

});

</script>
{% endblock %}

{% block content %}

{% if error %}
<div class="row top-mrg-30">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>&nbsp;&nbsp;{{ error }} <a href="{% url 'tasks' %}" class="alert-link">Select a valid task or create your own.</a></div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
        <h3>Schedule Task<br /><small>Interface to schedule your task</small></h3>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Upload required media<br /><small>Upload files required for your task</small></h4>
                {% if task_type == 1 %}
                <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Warning:</span>&nbsp;&nbsp;Please notice that only <strong>.jpg</strong>, <strong>.png</strong> and <strong>.gif</strong> files <strong>less than 2MB</strong> in size are allowed.</div>
                <div id="uploader" class="top-mrg-20"></div>
                {% elif task_type == 2 %}
                <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Warning:</span>&nbsp;&nbsp;Please notice that due to HTML5 restrictions only <strong>.mp4</strong>, <strong>.webm</strong> and <strong>.ogg</strong> files <strong>less than 500MB</strong> in size are allowed.</div>
                <div id="uploader" class="top-mrg-20"></div>
                {% elif task_type == 4 %}
                <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Warning:</span>&nbsp;&nbsp;Please notice that only <strong>.jpg</strong>, <strong>.png</strong> and <strong>.gif</strong> files <strong>less than 2MB</strong> in size are allowed.</div>
                <div id="uploader" class="top-mrg-20"></div>
                {% else %}
                <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Success:</span>&nbsp;&nbsp;The files were uploaded during the previous step.</div>
                {% endif %}
            </div>
        </div>
        <div class="row top-mrg-10">
            <div class="col-md-6">
                <h4>Description<br /><small>Add a description that will help to easy understand what your task is performing</small></h4>
                {% if is_public %}
                <textarea class="form-control" id="description" placeholder="{{ description }}" rows="3"></textarea>
                {% else %}
                <textarea class="form-control" id="description" rows="3">{{ description }}</textarea>
                {% endif %}
            </div>
        </div>
        <div class="row top-mrg-10">
            <div class="col-md-10">
                <h4>Time & Location<br /><small>Select or specify when and where you want to display your task</small></h4>
                <div class="row top-mrg-20 btm-mrg-10">
                    <div class="col-md-10">
                        <form class="form-inline">
                            <div class="form-group">
                                <p class="inline">Display between the following dates</p>
                            </div>
                            <div class="form-group lft-mrg-10">
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" id="datepicker-start" class="input-sm form-control" name="start" value="{{ start }}"/>
                                    <span class="input-group-addon">to</span>
                                    <input type="text" id="datepicker-end" class="input-sm form-control" name="end" value="{{ end }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row top-mrg-20 btm-mrg-10">
                    <div class="col-md-10">
                        <form class="form-inline">
                            <div class="form-group" id="timeselect-container">
                                <select class="form-control" id="timeselect">
                                    <option value="day">all day long</option>
                                    <option value="noon">at noon (around 12pm)</option>
                                    <option value="breakfast">during breakfast (around 8am-10am)</option>
                                    <option value="lunch">during lunch (1pm-3pm)</option>
                                    <option value="dinner">during dinner (6pm-9pm)</option>
                                    <option value="precise">select hours</option>
                                </select>
                            </div>
                            <div class="form-group lft-mrg-10">
                                <p class="inline">on/in</p>
                            </div>

                            <div class="form-group lft-mrg-10" id="placeselect-container">
                                <select class="form-control" id="placeselect">
                                    <option value="all">all available screens</option>
                                    {% for place in places %}
                                    <option value="{{place.id}}">{{place|lower}}</option>
                                    {% endfor %}
                                    <option value="individual">select screens</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>


                {% if task_type == 1 %}
                <form class="form-inline">
                    <div class="form-group">
                        <p class="inline">for</p>
                    </div>
                    <div class="form-group lft-mrg-10 rgt-mrg-10">
                        <input class="form-control input-sm text-right inline" type="text" value="5" maxlength="2" id="duration" data-toggle="tooltip" data-placement="top" title="60 seconds max">
                    </div>
                    <div class="form-group">
                        <p class="inline">seconds at a time.</p>
                    </div>
                </form>
                {% elif task_type == 4 %}
                <form class="form-inline">
                    <div class="form-group">
                        <p class="inline">for</p>
                    </div>
                    <div class="form-group lft-mrg-10 rgt-mrg-10">
                        <input class="form-control input-sm text-right inline" type="text" value="5" maxlength="2" id="duration" data-toggle="tooltip" data-placement="top" title="60 seconds max">
                    </div>
                    <div class="form-group">
                        <p class="inline">seconds for each picture.</p>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="row top-mrg-20">
            <div class="col-md-12">
                <h4>Review and schedule<br /><small>See if all steps are completed and schedule the task</small></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-danger" role="alert" id="error_alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>&nbsp;&nbsp;<span id="error_message"></span></div>
            </div>
            <div class="col-md-4 text-right">
                {% if not is_public %}
                <button class="btn btn-danger" id="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Delete</button>
                {% endif %}
                <button class="btn btn-success" id="schedule"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;Schedule</button>
            </div>
        </div>
    </div>
</div>

{% include "snippets/back_to_top.html" %}

{% endif %}

{% endblock %}
