{% extends "base.html" %}

{% block title %}
    Tasks | Displayer
{% endblock %}

{% block content %}

    <section id="template">
    <div class="row">
        <div class="col-md-12">
            <h3>Template Tasks <small>Easily reusable tasks for your convenience</small></h3>
        </div>
    </div>
    </section>

    <div class="row top-mrg-40">
        <div class="col-md-12">
            <a href="custom_task" class="btn btn-primary">Create new</a>
            <div class="alert alert-warning top-mrg-10" role="alert"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><span class="sr-only">Warning:</span> Before creating new task we highly suggest looking at <a href="#template" class="alert-link">Template tasks</a> first</div>
        </div>
    </div>

    <div class="row top-mrg-20">
        <div class="col-md-12">
            <h3>Previous Tasks <small>Tasks that you have previously created and that can be reused</small></h3>
        </div>
    </div>

{% endblock %}