.gridster-container {
    width: 100%;
    overflow-x: auto;
}

#gridster2 > div > div{
    background-color: #CCC;
}

#timeline-nav {
    width:100%;
}

.modal-backdrop {
    bottom: 0;
    position: fixed;
    z-index: 1039;
}