.top-mrg-10 {
    margin-top: 10px;
}

.top-mrg-20 {
    margin-top: 20px;
}

.top-mrg-30 {
    margin-top: 30px;
}

.top-mrg-40 {
    margin-top: 40px;
}

/*To move stuff away from the navbar*/
body {
    padding-top: 70px;
}