#carousel {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%
}

body {
    background-color: black;
}

#no-data {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.white-text {
    color: white;
}

video, img {
    display: block;
    margin:auto;
}


/*.carousel-inner > .item > img {*/
    /*margin: 0 auto;*/
/*}*/